Repository ohtt-iOS/Bithumb_Awesome, pull requests merged in 2022-03, with the labels that each got.

#21 QuoteView 기본세팅 및 웹소켓 로직 구현
  BithumbAwesome/BithumbAwesome.xcodeproj/project.pbxproj
  BithumbAwesome/BithumbAwesome/Assets.xcassets/Colors/aGray4.colorset/Contents.json
  BithumbAwesome/BithumbAwesome/Custom/Divider/HorizonDivider.swift
  BithumbAwesome/BithumbAwesome/Extension/Color+.swift
  BithumbAwesome/BithumbAwesome/Service/QuoteSocketService.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteAdditionalInfomationList.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteListRow.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteOrderType.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/QuoteView.swift
Labels: 📁ㅤQuote, 📡ㅤServer, 👏🏻ㅤ강경, 🐤ㅤBase

#22 DetailView 기본세팅 및 PriceView / ConclusionView / ChartView 기초작업
  BithumbAwesome/BithumbAwesome.xcodeproj/project.pbxproj
  BithumbAwesome/BithumbAwesome/Model/Candle.swift
  BithumbAwesome/BithumbAwesome/Model/CandleResponse.swift
  BithumbAwesome/BithumbAwesome/Model/ResponseResult.swift
  BithumbAwesome/BithumbAwesome/Model/Transaction.swift
  BithumbAwesome/BithumbAwesome/Model/TransactionResponse.swift
  BithumbAwesome/BithumbAwesome/Service/CandleSticktService.swift
  BithumbAwesome/BithumbAwesome/Service/HomeService.swift
  BithumbAwesome/BithumbAwesome/Service/TransactionService.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Chart/CandleChartView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Chart/ChartCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Chart/ChartView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Conclusion/ConclusionCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Conclusion/ConclusionRow/ConclusionRowCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Conclusion/ConclusionRow/ConclusionRowView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Conclusion/ConclusionView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/PriceCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/PriceView.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeView.swift
  BithumbAwesome/BithumbAwesome/View/Tab/AppCore.swift
Labels: 📁ㅤChart, 📡ㅤServer, 📁ㅤConclusion, 💙ㅤ오뜨, 🐤ㅤBase, 📁ㅤDetail

#24 ChartView 작업
  BithumbAwesome/BithumbAwesome.xcodeproj/project.pbxproj
  BithumbAwesome/BithumbAwesome/Custom/ChartRadioButton/ChartRadioButtonType.swift
  BithumbAwesome/BithumbAwesome/Custom/ChartRadioButton/ChartRadioButtonView.swift
  BithumbAwesome/BithumbAwesome/Service/CandleStickService.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Chart/CandleChartView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Chart/ChartCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Chart/ChartView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailView.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeView.swift
Labels: 📁ㅤChart, 📡ㅤServer, 🎨 ㅤView, 💙ㅤ오뜨

#25 HomeView - 라디오버튼 수정
  BithumbAwesome/BithumbAwesome/Custom/AwesomeButton/RadioButtonView.swift
  BithumbAwesome/BithumbAwesome/Service/HomeService.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeCore.swift
  BithumbAwesome/BithumbAwesome/View/Tab/AppCore.swift
Labels: 📁ㅤHome, 📡ㅤServer, 💙ㅤ오뜨

#27 HomeView - 검색기능 추가
  BithumbAwesome/BithumbAwesome/Assets.xcassets/Images/Money_perspective_matte.imageset/Contents.json
  BithumbAwesome/BithumbAwesome/Assets.xcassets/Images/Money_perspective_matte.imageset/Money_perspective_matte.svg
  BithumbAwesome/BithumbAwesome/Assets.xcassets/Images/Search_alt_duotone_line.imageset/Contents.json
  BithumbAwesome/BithumbAwesome/Assets.xcassets/Images/Search_alt_duotone_line.imageset/Search_alt_duotone_line.svg
  BithumbAwesome/BithumbAwesome/Extension/Image+.swift
  BithumbAwesome/BithumbAwesome/Model/ResponseResult.swift
  BithumbAwesome/BithumbAwesome/Model/TickerResponse.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeCore.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeView.swift
  BithumbAwesome/BithumbAwesome/View/Tab/AppCore.swift
Labels: 📁ㅤHome, 🎨 ㅤView, 💙ㅤ오뜨

#28 HomeView - 관심목록 추가
  BithumbAwesome/BithumbAwesome.xcodeproj/project.pbxproj
  BithumbAwesome/BithumbAwesome/Custom/ANavigationBar/ANavigationBarView.swift
  BithumbAwesome/BithumbAwesome/Custom/FavoriteButton/FavoriteButtonCore.swift
  BithumbAwesome/BithumbAwesome/Enum/UserDefaultsKey.swift
  BithumbAwesome/BithumbAwesome/Service/HomeService.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailView.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeCore.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeView.swift
Labels: 📁ㅤHome, 📡ㅤServer, 👥ㅤ페어

#29 QuoteView UI 및 로직개선
  BithumbAwesome/BithumbAwesome.xcodeproj/project.pbxproj
  BithumbAwesome/BithumbAwesome/Enum/OrderType.swift
  BithumbAwesome/BithumbAwesome/Model/OrderBookDepthModel.swift
  BithumbAwesome/BithumbAwesome/Model/OrderBookDepthResponse.swift
  BithumbAwesome/BithumbAwesome/Model/Socket/TransactionSocketResponse.swift
  BithumbAwesome/BithumbAwesome/Model/Transaction.swift
  BithumbAwesome/BithumbAwesome/Service/QuoteService.swift
  BithumbAwesome/BithumbAwesome/Service/QuoteSocketService.swift
  BithumbAwesome/BithumbAwesome/View/Detail/DetailCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteAdditionalInfomationList.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteConclusionView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteListRow.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteListRowBlock.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/List/QuoteListRowCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/QuoteCore.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Quote/QuoteView.swift
  BithumbAwesome/BithumbAwesome/View/Detail/Socket/SocketCore.swift
  BithumbAwesome/BithumbAwesome/View/Home/HomeView.swift
Labels: 📁ㅤQuote, 🎨 ㅤView, 👏🏻ㅤ강경
